<md-dialog flex-gt-sm="40" flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{cliente.nombre}}</h2> 
            <span flex></span>
            {{fecha}}
            <md-button class="md-icon-button" ng-click="cerrar()">
                <md-icon class="material-icons">&#xE5CD;</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>        
        <div class="md-dialog-content">
            <md-list>
                <md-list-item>
                    <div layout="row" flex>
                        <div flex="20">Factura</div>
                        <div flex="20">Fecha</div>
                        <div flex="20">Vencimiento</div>
                        <div flex="40" layout="row" layout-align="end start">Monto</div>
                    </div>
                </md-list-item>
                {{total = 0.0;""}}
                <md-divider></md-divider>
                <md-list-item ng-repeat="venta in pendientes">
                    <div layout="row" flex>
                        <div flex="20">{{venta.noFactura}}</div>
                        <div flex="20">{{venta.fecha}}</div>
                        <div flex="20">{{venta.fechaVencimiento}}</div>
                        <div flex="40" layout="row" layout-align="end start">{{venta.totalPendiente | currency:"RD$"}}</div>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item>
                    {{s = pendientes.length == 1 ? '' : 's';""}}
                    <div layout="row" flex>
                        <strong>{{pendientes.length}} factura{{s}} pendiente{{s}}</strong>
                        <span flex></span>
                        <strong> {{sumaPendientes | currency:"RD$"}}</strong>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="imprimir();">Imprimir</md-button>
        <md-button ng-click="cerrar();">Regresar</md-button>
        </md-dialog-actions>
</md-dialog>