<md-dialog aria-label="Venta">
    <form name="frmVenta" ng-cloak>
        <md-toolbar class="ng-class:{'md-warn md-hue-2' : venta.pagoPendiente}">
            <div class="md-toolbar-tools">
                <h2>{{venta.id ? 'Modificar' : 'Agregar'}} venta </h2>
                <span flex></span>
                {{venta.pagoPendiente ? 'Pago pendiente' : 'Saldada'}}
                <md-button class="md-icon-button" ng-click="cerrar()">
                    <md-icon class="material-icons">&#xE5CD;</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Cliente</label>
                        <md-select ng-model="cliente" ng-required="true">
                            <md-option ng-repeat="cliente in clientes" ng-value="cliente">
                                {{cliente.nombre}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>RNC</label>
                        <input ng-model="venta.rnc" ng-required="true" disabled>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Tipo</label>
                        <md-select ng-model="venta.idVentaTipo" ng-required="true" ng-change="calcular()">
                            <md-option ng-repeat="tipo in tiposVenta" ng-value="tipo.id">
                                {{tipo.nombre}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Factura No.</label>
                        <input ng-model="venta.noFactura" name="NoFactura" ng-required="true" type="number" ng-minlength="4" ng-unique>
                        <div ng-messages="frmVenta.NoFactura.$error" role="alert">
                            <div ng-message="minlength">Al menos cuatro dígitos</div>
                            <div ng-message="unique">Esta factura ya existe</div>
                        </div>
                    </md-input-container>
                   <div>
                       <md-input-container>
                           <label>Fecha</label>
                           <md-datepicker ng-model="fechaFactura" ng-change="venta.fecha = fechaFactura;"></md-datepicker>
                       </md-input-container>
                   </div>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Sub-Total (RD$)</label>
                        <input ng-model="venta.subTotal" ng-required="true" type="number" ng-change="calcular()">
                        <md-icon class="material-icons">&#xE227;</md-icon>
                    </md-input-container>
                </div>
                <md-list flex>
                    <md-list-item>
                        ITBIS 
                        <span flex></span>
                        {{venta.itbis| currency:"RD$"}}
                    </md-list-item>

                    <md-list-item>
                        Total
                        <span flex></span>
                        {{venta.total| currency:"RD$"}}
                    </md-list-item>
                    </md-list>
</div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-progress-circular md-mode="indeterminate" class="md-accent md-hue-2" md-diameter="30" ng-show="cargandoMsg"></md-progress-circular>
            {{cargandoMsg}}
            <span flex></span>
            <md-button ng-click="answer('not useful')" ng-disabled="frmVenta.$invalid">
                Guardar
            </md-button>
            <md-button ng-click="cancel();" md-autofocus>
                Regresar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>