<md-dialog>
    <form name="frmCliente" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{cliente.id ? 'Modificar' : 'Agregar'}} cliente </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cerrar()">
                    <md-icon class="material-icons">&#xE5CD;</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex>
                        <label>Nombre</label>
                        <input ng-model="cliente.nombre" ng-required="true" ng-minlength="3">
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>RNC</label>
                        <input ng-model="cliente.rnc" ng-required="true" ng-minlength="3">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Tel&eacute;fono</label>
                        <input ng-model="cliente.telefono" >
                    </md-input-container>
                </div>
                <md-input-container class="md-block" flex>
                    <label>Direcci&oacute;n</label>
                    <input ng-model="cliente.direccion">
                </md-input-container>
                <md-switch ng-model="cliente.tieneCredito">
                    {{cliente.tieneCredito ? 'Con credito' : 'Sin credito'}}
                </md-switch>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer()" ng-disabled="frmCliente.$invalid">
                Guardar
            </md-button>
            <md-button ng-click="cancel();" md-autofocus>
                Regresar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>