<md-dialog aria-label="Venta">
    <form name="frmVenta" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{deposito.id ? 'Modificar' : 'Agregar'}} deposito </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cerrar()">
                    <md-icon class="material-icons">&#xE5CD;</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex>
                        <label>Cuenta</label>
                        <md-select ng-model="deposito.idCuenta" ng-required="true">
                            <md-option ng-repeat="cuenta in cuentas" ng-value="cuenta.id">
                                [{{cuenta.bancoAb}}] {{cuenta.numero}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <div>
                            <md-input-container>
                                <label>Fecha</label>
                                <md-datepicker ng-required="true" ng-model="fechaDeposito" ng-change="deposito.fecha = fechaDeposito;"></md-datepicker>
                            </md-input-container>
                        </div>
                        <md-input-container class="md-block" flex-gt-sm>
                            <md-icon class="material-icons">&#xE227;</md-icon>
                            <label>Monto (RD$)</label>
                            <input ng-model="deposito.monto" ng-required="true" type="number">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <md-icon class="material-icons">&#xE8B0;</md-icon>
                            <label>Referencia</label>
                            <input ng-model="deposito.referencia">
                        </md-input-container>
                    </div>
                <md-radio-group ng-model="deposito.idDepositoTipo" ng-required="true">
                    <md-radio-button ng-repeat="tipo in tipos" value="{{tipo.id}}" class="md-primary">{{tipo.nombre}}</md-radio-button>
                </md-radio-group>
</div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-progress-circular md-mode="indeterminate" class="md-accent md-hue-2" md-diameter="30" ng-show="cargandoMsg"></md-progress-circular>
            {{cargandoMsg}}
            <span flex></span>
            <md-button ng-click="answer('not useful')" ng-disabled="frmVenta.$invalid">
                Guardar
            </md-button>
            <md-button ng-click="cancel();" md-autofocus>
                Regresar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>