.upper input{
    text-transform:capitalize;
}

#content{
    padding:15px;
}
.md-toolbar-tools md-select{
    padding:0 15px;
}
md-card > md-card-header > md-card-avatar > i.material-icons{
    font-size:45px;
    cursor:pointer;
}
 .imprimir{
        display:none;
    }
 .input-search{
         font-size: 14px;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    height: 40px;
 }

.autocomplete-custom-template li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;
}

    .autocomplete-custom-template li:last-child {
        border-bottom-width: 0;
    }

.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
    display: block;
    line-height: 2;
}

    .autocomplete-custom-template .item-title md-icon {
        height: 18px;
        width: 18px;
    }

@media print {
    .ocultar-impresion, md-button, md-toolbar, md-tabs, md-dialog, md-backdrop {
        display:none;
    }
    md-list-item{
        page-break-inside: avoid;
    }
    .imprimir{
        display:block;
    }
}