.upper input{
    text-transform:capitalize;
}

#content{
    padding:15px;
}

md-card > md-card-header > md-card-avatar > i.material-icons{
    font-size:45px;
    cursor:pointer;
}
 .imprimir{
        display:none;
    }
 .input-search{
         font-size: 14px;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    height: 40px;
 }
@media print {
    .ocultar-impresion, md-button, md-toolbar, md-tabs, md-dialog, md-backdrop {
        display:none;
    }

    .imprimir{
        display:block;
    }
}