<md-list ng-controller="CuentasController">
    <md-list-item ng-repeat="cuenta in cuentas">
        <p><strong>[{{cuenta.bancoAb}}]</strong> {{cuenta.numero}}</p>
        <md-button class="md-mini md-n" aria-label="Menu" ng-click="editar($event, cuenta);" md-no-ink>
            <md-icon class="material-icons">&#xE254;</md-icon>
        </md-button>
    </md-list-item>
</md-list>