    <md-list ng-controller="BancosController">
        <md-list-item ng-repeat="banco in bancos">
            <p><strong>[{{banco.abreviatura}}]</strong> {{banco.nombre}}</p>
            <md-button class="md-mini md-n" aria-label="Menu" ng-click="editar($event, banco);" md-no-ink>
                <md-icon class="material-icons">&#xE254;</md-icon>
            </md-button>
        </md-list-item>
    </md-list>