<md-tabs md-dynamic-height>
    <md-tab label="Pendientes" md-dynamic-height>
        <md-content class="md-padding" layout="row" layout-wrap>
            <div flex-xs flex-gt-xs="50" flex-gt-md="33" ng-repeat="venta in ventas | filter:{pagoPendiente:true}">
                <tarjeta-venta></tarjeta-venta>
            </div>
        </md-content>
    </md-tab>
    <md-tab label="B&uacute;squeda">
        <md-content class="md-padding" layout="row" layout-wrap>
            <div flex-xs flex-gt-xs="50" flex-gt-md="33" ng-repeat="venta in ventas">
                <tarjeta-venta></tarjeta-venta>
            </div>
        </md-content>

    </md-tab>
</md-tabs>
<div class="imprimir" ng-show="estadoCuenta">
    <div>
        <div layout="column" layout-align="center center">
            <img src="~/Content/img/logo.jpg" />
            <h1 class="md-display-1">Estado de cuenta</h1>
        </div>
        <md-divider></md-divider>
        <h1 class="md-title">{{estadoCuenta.cliente.nombre}}</h1>
        <h3 class="md-subhead">{{estadoCuenta.cliente.direccion}}</h3>
        <h3 class="md-subhead">{{estadoCuenta.cliente.telefono}}</h3>
        <md-divider></md-divider>
        <md-list>
            <md-list-item>
                <div layout="row" flex>
                    <div flex="20">Factura</div>
                    <div flex="20">Fecha</div>
                    <div flex="20">Vencimiento</div>
                    <div flex="40" layout="row" layout-align="end start">Monto</div>
                </div>
            </md-list-item>
            {{total = 0.0;""}}
            <md-divider></md-divider>
            <md-list-item ng-repeat="venta in estadoCuenta.pendientes">
                <div layout="row" flex>
                    <div flex="20">{{venta.noFactura}}</div>
                    <div flex="20">{{venta.fecha}}</div>
                    <div flex="20">{{venta.fechaVencimiento}}</div>
                    <div flex="40" layout="row" layout-align="end start">{{venta.totalPendiente | currency:"RD$"}}</div>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
                <div layout="row" flex>
                    {{s = estadoCuenta.pendientes.length == 1 ? '' : 's';""}}
                    <strong>{{estadoCuenta.pendientes.length}} factura{{s}} pendiente{{s}}</strong>
                    <span flex></span>
                    <strong> {{estadoCuenta.totalPendiente | currency:"RD$"}}</strong>
                </div>
            </md-list-item>
        </md-list>
    </div>
</div>
