<md-tabs md-dynamic-height>
    <md-tab label="Pendientes ({{pendientes.length}})" md-dynamic-height>
        <md-content class="md-padding" layout="row" layout-wrap>
            <div flex-xs flex-gt-xs="50" flex-gt-md="33" ng-repeat="venta in pendientes | ventaspendientes : navDias | nombreofactura:navFiltro as filtradoDias">
                <tarjeta-venta-dash></tarjeta-venta-dash>
            </div>
        </md-content>
    </md-tab>
    <md-tab label="Busqueda">
        <md-content class="md-padding" layout="column" layout-wrap>
            <div flex>
                <md-autocomplete id="custom-template"
                                 md-no-cache="true"
                                 md-search-text="searchText"
                                 md-selected-item-change="buscarFacturaPorCliente(item.id)"
                                 md-items="item in filtrarClientes(searchText)"
                                 md-item-text="item.nombreCompleto"
                                 md-min-length="0"
                                 input-aria-label="Current Repository"
                                 md-menu-class="autocomplete-custom-template"
          md-menu-container-class="custom-container"
                                 placeholder="Elija un cliente">
                    <md-item-template>
                        <div class="item-title">
                            <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>
                            <span> {{item.nombreCompleto}} </span>
                        </div>
                        <div class="item-metadata">
                            <span>
                                RNC <strong>{{item.rnc}}</strong>
                            </span>
                            <span>
                                Telefono <strong>{{item.telefono}}</strong>
                            </span>
                        </div>
                    </md-item-template>
                </md-autocomplete>
            </div>
            <div flex layout-wrap layout="row">
                <div flex-xs flex-gt-xs="50" flex-gt-md="33" ng-repeat="venta in ventas | nombreofactura:navFiltro">
                    @*                <tarjeta-venta></tarjeta-venta>*@
                    <tarjeta-venta-dash></tarjeta-venta-dash>
                </div>
            </div>
        </md-content>

    </md-tab>
</md-tabs>
<div class="imprimir">
    <div ng-show="estadoCuenta">
        <div layout="column" layout-align="center center">
            <img src="~/Content/img/logo.jpg" />
            <h1 class="md-display-1">Estado de cuenta</h1>
        </div>
        <md-divider></md-divider>
        <h1 class="md-title">{{estadoCuenta.cliente.nombre}}</h1>
        <h3 class="md-subhead">{{estadoCuenta.cliente.direccion}}</h3>
        <h3 class="md-subhead">{{estadoCuenta.cliente.telefono}}</h3>
        <md-divider></md-divider>
        <md-list>
            <md-list-item>
                <div layout="row" flex>
                    <div flex="20">Factura</div>
                    <div flex="20">Fecha</div>
                    <div flex="20">Vencimiento</div>
                    <div flex="40" layout="row" layout-align="end start">Monto</div>
                </div>
            </md-list-item>
            {{total = 0.0;""}}
            <md-divider></md-divider>
            <md-list-item ng-repeat="venta in estadoCuenta.pendientes">
                <div layout="row" flex>
                    <div flex="20">{{venta.noFactura}}</div>
                    <div flex="20">{{venta.fecha}}</div>
                    <div flex="20">{{venta.fechaVencimiento}}</div>
                    <div flex="40" layout="row" layout-align="end start">{{venta.totalPendiente | currency:"RD$"}}</div>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
                <div layout="row" flex>
                    {{s = estadoCuenta.pendientes.length == 1 ? '' : 's';""}}
                    <strong>{{estadoCuenta.pendientes.length}} factura{{s}} pendiente{{s}}</strong>
                    <span flex></span>
                    <strong> {{estadoCuenta.totalPendiente | currency:"RD$"}}</strong>
                </div>
            </md-list-item>
        </md-list>
    </div>
</div>
